<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>579046275467-6kfkt5cg4b95g2h8acpg8v21dq221njr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579046275467-6kfkt5cg4b95g2h8acpg8v21dq221njr</string>
	<key>API_KEY</key>
	<string>AIzaSyC1M8lvhrp8G7JOpvzpuVrN0CRVTEEUcMo</string>
	<key>GCM_SENDER_ID</key>
	<string>579046275467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.AbuMsjAppV2</string>
	<key>PROJECT_ID</key>
	<string>abumsjapp-test</string>
	<key>STORAGE_BUCKET</key>
	<string>abumsjapp-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579046275467:ios:7f461cb68ddcc7e6c3578e</string>
	<key>DATABASE_URL</key>
	<string>https://abumsjapp-test.firebaseio.com</string>
</dict>
</plist>